/*Nav Bar*/


body{ background-color: rgb(108,117,125);
      color: white;}

header{height: 75vh;
        width: 100vw;}

.titulo{font-size: 45px;
            text-align: center;   
            margin: 20px ;
            font-family: 'Cormorant SC', serif;
        text-decoration: underline;
        animation-name: animacion__titulo;
        animation-timing-function: ease-in-out ;
        animation-delay: 0s;
        animation-iteration-count: one;
        animation-duration: 1s;}

        @keyframes animacion__titulo {
                0%{ font-size: 0px;}
               
               
               
                100%{ font-size: 45px;}
        }

.texto{font-size: 20px;
            margin: 10px;  
            border: 5%; }
footer ul li a{text-decoration: none;}
